<hinv-app-nav></hinv-app-nav>

<!-- <hinv-rooms></hinv-rooms> -->
 <!-- <hinv-container>
  <hinv-rooms></hinv-rooms>
  <hinv-employee></hinv-employee>
  <h1>This is from ng content</h1>
 </hinv-container> -->
<!-- ngswitch directive -->
<!-- <div [ngSwitch]="loginType">
  <div *ngSwitchCase="'user'">
    Welcome user
  </div>
  <div *ngSwitchCase="'admin'">
    <hinv-rooms></hinv-rooms>
  </div>
</div> -->
<!-- Dynamically load component using viewcontainerref -->
<!-- <div>
  <ng-template #user></ng-template>
</div> -->
<!-- <hinv-app-nav></hinv-app-nav> -->

<!-- <a [routerLink]="'rooms'">Rooms Page</a>

<div #name></div>Link 3 -->

